header {
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    color: #323540;
    position: relative;
    padding-left: 30px;
    z-index: 2;
}

header h1 {
    margin: auto;
}

.hello {
    position: absolute;
    left: 20px;
    bottom: 5px;
    font-weight: bold;
}

.back_to_blog {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #323540;
    font-weight: bolder;
    padding: 15px;
    border: 2px solid #323540;
    border-radius: 30px;
}

.back_to_blog:visited {
    color: #323540;
}


body {
    font-family: 'Open Sans';
    background: #D2D2D4;
    margin: 0;
}

.form_login {
    width: 500px;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-top: 15vh;
    transform: translateY(-15%);
    border-radius: 5%;
}

.h1_login {
    font-size: 40px;
    color: #323540;
}

.label_login input {
    width: 200px;
}

.button_login {
    margin: 30px;
    padding: 15px;
    width: 140px;
    height: 60px;
    background-color: #C9D2FF;
    border: 2px solid #C9D2FF;
    color: #fff;
    border-radius: 35px;
    font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
}

.button_login:hover {
    background-color: #fff;
    border: 2px solid #C9D2FF;
    color: #C9D2FF;
}

.menu {
    width: 250px;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 80px;
}

.element_menu {
    font-family: 'Fredoka One';
    font-size: 1.5em;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.element_menu:hover {
    background-color: #D2D2D4;
    text-decoration: none;
    color: white;
}

.active_menu {
    border-bottom: 10px solid white;
}

.main {
    width: 100%;
    background-color: #D2D2D4;
    margin-left: 140px;
    color: #323540;
}

.elements_container {
    margin: 40px auto;
}

.posts_admin {
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin-bottom: 25px;
    height: 90px;
    border-radius: 8px;
}

.posts_admin:hover {
    background-color: #D2D2D4;
}

.title {
    color: #323540;
    margin-left: 25px;
}

.title:hover {
    text-decoration: none;
    color: #323540;
    cursor: pointer;
}

#new_chapter_button {
    display: flex;
    margin-bottom: 60px;
    overflow: hidden;
    height: 70px;
}

#new_chapter_title {
    color: #323540;
    margin-left: 95px;
}

#new_chapter_title:hover {
    cursor: pointer;
}

#new_chapter_button i {
    position: absolute;
    left: -15px;
}

.options {
    position: absolute;
    right: 20px;
}

.options a {
    color: #323540;
    margin-left: 15px;
    font-size: 1.2em;
}

.options a:hover {
    text-decoration: none;
}
